body {
    font-family: 'Bebas Neue', cursive;
    background-color: #97A6A4;
}
h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #f8f8ff;
}

#weatherContent {
    display: none;
}

.navbar {
    height: 90px;
}

#cityDetail,
li {
    color: #4D4F53;
}

#searchResults,
#cityDetail,
.card {
    background-color: #149ed4!important;
}

#searchResults {
    height: 100vh;
}

#fiveDay .card {
    border: 1px solid rgb(0, 0, 0)!important;
}

#searchHistory li {
    background-color: #e0dbdb;
    color: #ffffff!important;
}

p {
    color: #ffffff;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', cursive;
}

h2, h3, h4, h5 {
    color: #f8f8ff;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #4D4F53;
    text-align: center;
}
footer p{
    margin-right: 10%;
}

